html, body{
   padding:0px;
   margin:2px;
   background-color: #dddddd;
   font-family: "Arial", "Verdana"
}

.message{        background-color: #99ccff; text-align: center; padding: 3px; }
.alert-warning{  background-color: #ffcc33; text-align: center; padding: 3px;  }
.alert-success{  background-color: #ccff66; text-align: center; padding: 3px;  }

form input, form select, button{     width:100%;    }
form input:focus{  background: #ffff00;   }

table{    width:100%; font-size:11px; }
td.row_head{   color:#303c49; width:20%;  }

.azione{ font-style:italic; text-decoration: underline}
